<div class="forget-password-update-container">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Reset Password</mat-card-title>
    <div class="error-alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <form [formGroup]="forgotPasswordUpdateForm" autocomplete="off" novalidate (ngSubmit)="forgotPasswordUpdate(forgotPasswordUpdateForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <label>User ID:</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="User ID" formControlName="userId" id="userID" name="userId">
          <mat-error *ngIf="hasError('userId', 'required')">User ID can't be blank.</mat-error>
        </mat-form-field>
        <label>Token:</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Token Number" formControlName="token" id="token" name="token">
          <mat-error *ngIf="hasError('token', 'required')">Token Number can't be blank.</mat-error>
        </mat-form-field>
        <label>Password:</label>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password" formControlName="password" id="password" name="password">
          <mat-error *ngIf="hasError('password', 'required')">Password can't be blank.</mat-error>
        </mat-form-field>
        <label>Password Confirmation:</label>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword">
          <mat-error *ngIf="hasError('confirmPassword', 'required')">Password Confirmation can't be blank.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="forgotPasswordUpdateForm.invalid">Update Password</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>