<div class="password-container">
  <h2>Change Password</h2>
  <mat-card fxFlex="500px" fxFlex.xs="100%">

    <form [formGroup]="passwordForm" novalidate (ngSubmit)="onClickSave(passwordForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">

      <mat-card-content>

        <div class="pwInputField">
          <label>Current Password</label>
          <input matInput type="password" formControlName="oldPassword">
          <div *ngIf="!myForm['oldPassword'].valid && myForm['oldPassword']?.touched ">
          </div>
        </div>

        <div class="pwInputField">
          <label>New Password</label>
          <input matInput type="password" formControlName="newPassword">
          <div *ngIf="!myForm['newPassword'].valid && myForm['newPassword']?.touched ">
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="passwordForm.invalid">Update Password</button>
      </mat-card-actions>

    </form>
  </mat-card>
  </div>