<mat-card>
  <mat-card-header>
    <h1>Profile</h1>
  </mat-card-header>
  <mat-card-content class="clearfix wrapper">
    <div *ngIf="profileImage" class="personal-info-right">
      <img [src]="profileImage" class="profile-img" />
    </div>
    <mat-card-content class="content">
      <p>
        <span>Name</span> {{ name }}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Type</span> {{ type }}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Phone</span> {{ phone }}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Email</span> {{ email }}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Birthday</span> {{ birthday | date:'dd/MM/YYYY'}}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Adderss</span> {{ address }}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Skill</span> {{ skill }}
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Experience</span> {{ experience }}
      </p>
    </mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" routerLink="/passwordchange">Change Password</button>
    <button type="button" color="primary" mat-raised-button (click)="editProfile()">
      Edit Profile
    </button>
  </mat-card-actions>
</mat-card>
